/* *{

} */

:root {
    width: 100%;
    height: 100vh;
    background: radial-gradient( papayawhip, rgba(158, 225, 229, 100));
    font-family: 'Righteous';
    --that-pink: #f2afbd;
    --that-yellow: #d4d12e;
    --that-orange: #ff9955;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr); */
}

.container #scene .layer {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100vh;  */
}

#scene .layer object {
    
    position: absolute;
    /* top: 0;
    left: 0;
    height: 100%;
    width: 100%; */
    /* object-fit: cover; */
}

/* #background { */
    /* width: 100%;
    height:auto; */
    /* position: absolute; */
    /* z-index: 1;  */
    /* width: 100%; */
/* } */

#umbrella_yellow {
    position: absolute;
    height: 100vh;  
    /* padding-left: 40vw; */
    overflow: hidden;  
    z-index: 99;

    /* z-index: 2;  */
    width: 100%;
    background-color: transparent;
}

#umbrella_orange {
    position: absolute;
    padding-left: 10vw;
    padding-top: 16vw;
    /* height: 80vh; */
    z-index: 99;
    overflow-y: hidden;
    background-color: transparent;

}

#umbrella_pink {
    position: absolute;
    padding-left: 50vw;
    padding-top: 0vw;
    margin-top: -8px;
    z-index: 99;
    background-color: transparent;

    /* height: 30vh; */
}

#rain_one {
    position: absolute;
    padding-left: 8vw;
    padding-top: 0vw;
    z-index: 90;
    background-color: transparent;

    height: 30vh;

}

#rain_two {
    position: absolute;
    padding-left: 28vw;
    padding-top: 3vw;
    z-index: 90;
    background-color: transparent;

    height: 30vh;
    

}

#clouds_one {
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
    z-index: 70;
    background-color: transparent;

    height: 30vh;
}

#clouds_right {
    position: absolute;
    margin-top: 10vh;
    margin-right: 100vw;
    z-index: 80;
    background-color: transparent;

    height: 30vh;
}

#clouds_big {
    position: absolute;
    margin-top: -20px;
    margin-left: 20vw;
    z-index: 0;
    background-color: transparent;

    height: 30vh;
}

h1.hello{
    position: absolute;
    z-index: 99;
    margin: 18% 0% 0% 30%;
    padding: 1%;
    color: #f2afbd;
    background-color: white;
    border-radius: 10px;;
    
}

h1.lovely{
    position: absolute;
    z-index: 99;
    margin: 32% 0% 0% 45%;
    padding: 1%;
    color: #ff9955;
    background-color: white;
    border-radius: 10px;;
    /* d4d12e */
}

span.yellow{
    color: #d4d12e;
}
