
:root {
    background-color: rgba(158, 225, 229, 100);
    font-family: 'Righteous';
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.stage {
    position: relative;
    width: 100%;
}

/* #background { */
    /* width: 100%;
    height:auto; */
    /* position: absolute; */
    /* z-index: 1;  */
    /* width: 100%; */
/* } */

#umbrella_yellow {
    position: absolute;
    height: 100vh;  
    padding-left: 40vw;
    overflow: hidden;  
    /* z-index: 2;  */
    /* width: 100%; */
    background-color: transparent;
}

#umbrella_orange {
    position: absolute;
    padding-left: 10vw;
    padding-top: 16vw;
    height: 80vh;
}

#umbrella_pink {
    position: absolute;
    padding-left: 50vw;
    padding-top: 0vw;
    z-index: 99;
    /* height: 30vh; */
}

h1 {
    position: absolute;
    z-index: 99;
    margin: 14% 30%;
    padding: 1%;
    color: pink;
    background-color: white;
    border-radius: 10px;;
    
}