/*TODO: change background opacity to root var*/
/*TODO: snap pages to screen height*/
/*TODO: add images, preview pages*/
/*TODO: clamp sizes for mobile*/
canvas{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  filter:grayscale(.1);
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.65);
  /* --spacing: 350px; */
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  display: block;
  background-color: hsl(200, 58%, 15%);
  overflow-x: hidden;
}


main{
  width: 100vw;
  height: 100vh;
  color: white;
  z-index: 99;
  position: absolute ;
  margin: 0px 0px 0px ;
  /*padding: 120px 0px;*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  /*grid-template-rows: 1fr 2fr 1fr;*/
  /*opacity: 0;*/

}




header {
  /*background: var(--dark-bg);*/
  display: grid;
  align-content: center;
  margin-top:-50px;
  padding-bottom:50px;

  grid-column: 2 / span 10;
  /*justify-self: end;*/
  /* padding: 2rem; */
  /* margin-bottom: var(--spacing); */
  /* border-radius: 25px; */
  height: 100vh;

}



#title{
  /* position:relative; */

  /* grid-column: 1/12;
  grid-row: 2/ 4; */
  /* place-items: center; */
  color: hsl(73, 69%, 80%);
  /* transition: 1000ms color, 500ms transform; */
  transition: 1000ms, 500ms transform;
  /* transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1) ;  */
    /* transition-property: color, transform;  */
  font-weight: 700;
  font-size: 10.5rem;
  text-align: center;
  transform: rotate(-10deg)  skew(10deg);
}

#title:before {
  content: attr(data-text);
  grid-column: 1/12;
  position: absolute;
  top: 40px;
  left: 90px;
  color: rgba(0,0,0, 0.3);
  text-shadow: none;
  filter: blur(8px);
  z-index: -1;

}

#title:hover {
  color:pink;
  transform: rotate(0deg)  skew(0deg);
}

#intro p{
  display: grid;
  height: 100vh;
  align-content: center;
  place-items: center;

}

h1, h2, h3, #intro {
  align-content: center;
  place-items: center;

  font-family: 'Righteous';
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  
}

blockquote{
  align-content: center;

  font-family: 'Lobster';
  font-size: 35px;
  font-weight: 700;
  margin: 0px;
  grid-column: 3 / span 8;
  margin-bottom: var(--spacing);
  
}

section {
  align-content: center;

  place-items: center;
  text-align: center;
  grid-column: 2 / span 10;
  justify-content: end;
  background: var(--dark-bg);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 25px;
}

.container__image {
  grid-column-start: 5;
  width: 50px;
  float: right;
}

blockquote p {
  color: black;
  background-color: rgba(197, 170, 170, 0.65);
  line-height: 1;
  padding: 1rem 2rem;
  margin: 0px 0px 0px 0px;
  border-radius: 25px;
  font-size: 35px;
}

a{
  text-decoration: none;
  color: hsl(73, 69%, 80%);

 }

 a:hover{
  text-decoration: none;
  color: pink;

 }

.left {
  grid-column: 3 / 10;
}