canvas{
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.65);
  --spacing: 350px;

  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
}


main{
  width: 100%;
  color: white;
  z-index: 99;
  position: absolute;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*opacity: 0;*/

  
}

h1, h2, h3, blockquote{
  font-family: 'Lobster';
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  
}




header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  justify-self: end;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border-radius: 25px;

}

section {

  grid-column: 2 / span 8;
  justify-content: end;

  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 25px;

}
.container__image {
  grid-column-start: 5;

  width: 50px;
  float: right;
}
section p {
}


blockquote {
  margin: 0;
  grid-column: 5 / span 8;
  margin-bottom: var(--spacing);
  
}

blockquote p {
  color: black;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 2rem;
  display: inline;
  line-height: 1;
  padding: 1rem 2rem;
  border-radius: 25px;


}

.left {
  grid-column: 3 / 10;
}