canvas{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.65);
  --spacing: 350px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  display: block;
  background-color: hsl(200, 58%, 15%)
}


main{
  width: 100vw;
  height: 100vh;
  color: white;
  z-index: 99;
  position: absolute ;
  margin: 0px 0px 0px;
  /*padding: 120px 0px;*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /*grid-template-rows: 1fr 2fr 1fr;*/
  /*opacity: 0;*/

}




header {
  /*background: var(--dark-bg);*/
  grid-column: 2 / span 10;
  /*justify-self: end;*/
  padding: 2rem;
  margin-bottom: var(--spacing);
  border-radius: 25px;
}

#title{
  grid-column: 1/12;
  color: hsl(350, 68%, 91%);
  font-weight: 700;
  font-size: 10.5rem;
  text-align: center;
  transform:rotate(-15deg) skew(30deg);
}

#title:before {
  content: attr(data-text);
  grid-column: 1/12;
  text-align: center;

  /*position: absolute;*/
  top: 30px;
  left: -30;
  color: rgba(0,0,0, 0.3)
  text-shadow: none;
  

}

h1, h2, h3 {
  font-family: 'Lobster';
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  
}

blockquote{
  font-family: 'Lobster';
  font-size: 35px;
  font-weight: 700;
  margin: 0px;
  grid-column: 3 / span 8;
  margin-bottom: var(--spacing);
  
}

section {
  place-items: center;
  text-align: center;
  grid-column: 2 / span 10;
  justify-content: end;
  background: var(--dark-bg);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 25px;
}

.container__image {
  grid-column-start: 5;
  width: 50px;
  float: right;
}

blockquote p {
  color: black;
  background-color: rgba(197, 170, 170, 0.65);
  line-height: 1;
  padding: 1rem 2rem;
  margin: 0px 0px 0px 0px;
  border-radius: 25px;
  font-size: 35px;
}

section.light a{
  text-decoration: none;
  color: fuchsia;

 }

.left {
  grid-column: 3 / 10;
}